
#wpadminbar {
	box-shadow: 0px -1px 4px #000;
}

#wpadminbar ul#wp-admin-bar-root-default {
	margin-left: -1px;
}

#adminmenu #collapse-menu {
	margin-top: 0px;
}

#minor-publishing-actions {
	padding: 0px;
}

#adminmenu {
	margin: 0px;
}

#adminmenu > li {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
}

#adminmenu li.wp-menu-separator {
	display: none;
}

#adminmenu .wp-submenu, 
.folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, 
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
	padding-top: 0px;
	padding-bottom: 0px;
}

#adminmenu .wp-has-current-submenu ul>li>a, 
.folded #adminmenu li.menu-top .wp-submenu>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 5px 7px 5px 7px;
}

#adminmenu a.menu-top, 
#adminmenu .wp-submenu-head {
	font-size: 13px;
	font-weight: 600;
}

#adminmenu .wp-submenu a {
	font-size: 12px;
}

#adminmenu .wp-has-current-submenu .wp-submenu, 
.no-js li.wp-has-current-submenu:hover .wp-submenu, 
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu, 
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open, 
#adminmenu .wp-has-current-submenu.opensub .wp-submenu {
	padding: 8px 0px;
}

#adminmenu .wp-not-current-submenu .wp-submenu, 
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
	padding: 6px 0px 8px 0px;
}

.widefat td, 
.widefat td p, 
.widefat td ol, 
.widefat td ul, 
.widefat th {
	font-size: 13px;
}

.widefat th {
	padding: 5px 10px;
	border-bottom: solid 1px #d9d9d9;
}

.widefat td {
	border-bottom: solid 1px #d9d9d9;	
}

.tablenav {
	padding: 5px 0px;
}

textarea, input, select {
	font-size: 12px;
}

.widefat thead th.check-column {
	vertical-align: middle;
	padding-top: 5px;
}

.widefat thead,
.widefat tfoot {
	background: #e0e0e0;
}

